*{
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
}

.logo{
    height: auto;
    width: 60px;
}

.headerlinks{
    display: flex;
    color: white;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    gap: 80px;
    margin-right: 80px;
}

a{
    color: orange;
}

/* Quote Section */

.satelliteimage{
    background-image: url(img/sattwo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.quote{
    position: absolute;
    color: white;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 200px;
}

.quoter{
    font-size: 23px;
    margin-top: 20px;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    color: orange;
}

.quotecontainer{
    display: flex;
    justify-content: center;
}

/* Introduction Section */

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.introcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.introtext{
    display: flex;
    flex-direction: column;
    order: -1;
    align-items: flex-start;
    font-family: 'Arial Narrow Bold', sans-serif;
    gap: 10px;
}

.introheader{
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
}

.intropara{
    width: 550px;
    font-size: 15px;
}

.introbutton{
    background-color: orange;
    padding: 15px 25px;
    border: 0;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.asteroidbelt{
    height: auto;
    width: 700px;
}

.asteroidbeltcaption{
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    text-align: center;
}

.caption{
    margin-top: 10px;
}

/* Random Information Section */

.info{
    display: block;
    background-color: rgba(0, 0, 0, 0.911);
    padding: 30px 0px;
    position: absolute;
    top: 1710px;
    width: 100%;
}

.boxcontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px 20px;
}

.boximage{
    height: 300px;
    width: 400px;
    border: 5px solid white;
}

.infoheader{
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
}

.boxtext{
    color: white;
    width: 400px;
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
    font-size: 16px;
}

.asteroidimage{
    background-image: url(img/asteroid.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Call to Action Section */

.call{
    display: flex;
    padding: 75px;
    position: absolute;
    top: 2481px;
    color: white;
    background-color: rgba(0, 0, 0, 0.911);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.banner{
    display: flex;
    gap: 40px;
}

.bannertext{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bannerheader{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

.bannerparagraph{
    font-size: 16px;
    font-family:'Arial Narrow Bold', sans-serif;
}

.bannerbutton{
    background-color: orange;
    padding: 15px 25px;
    border: 0;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

/* Footer */

.footer{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    text-align: center;
    padding: 20px;
    color: white;
}

.kepplin{
    text-decoration: underline;
}