*{
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
}

.logo{
    height: auto;
    width: 60px;
}

.headerlinks{
    display: flex;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    gap: 80px;
    margin-right: 80px;
}

a{
    color: white;
}

/* Main Content 1 */

.satelliteimage{
    background-image: url(img/sattwo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.quote{
    position: absolute;
    color: white;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 200px;
}

.quoter{
    font-size: 23px;
    margin-top: 20px;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

.quotecontainer{
    display: flex;
    justify-content: center;
}